.section {
  background-color: #f7f7f9;
  padding: 5%;
  margin-bottom: 1.5em;
}
.activites2-section {
  padding: 0 !important;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1.5rem;
}
.content {
  margin-bottom: 1.5rem;
}
.activity {
  background-color: black;
  height: 100px;
  padding: 1.5em;
}
.custom-col {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}
.activity2-title {
  font-size: 1.2em;
}
.activity2-upper {
  font-size: 1em;
}

.activity2-content {
  font-size: 1.1em;
}
.activites2-cart-content {
  font-size: 1.5em;
}

.activites2-cart-title {
  font-size: 1.1em;
  color: white;
}
.explore-btn {
  font-size: 10em;
}
